<div class="container chatroom"    data-controller="private-chatroom-subscription"
    data-private-chatroom-subscription-private-chatroom-id-value="<%= @private_chatroom.id %>"
>
  <h1>#<%= @private_chatroom.name %></h1>

  <div class="messages" data-private-chatroom-subscription-target="messages">
    <% @private_chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <div class="input">
    <%= simple_form_for [@private_chatroom, @message], html: { data: { action: "turbo:submit-end->private-chatroom-subscription#resetForm" }, class: "d-flex"} do |f|%>
      <%= f.input :content, label: false, placeholder: "Message ##{@private_chatroom.name}", wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
