<div class="container-fluid chatroom-container" data-controller="private-chatroom-subscription" data-private-chatroom-subscription-private-chatroom-id-value="<%= @private_chatroom.id %>">
  <div class="row height-100">
    <!-- Private Chatrooms Index -->
    <div class="col-4 private-chatrooms-index-container">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <%= link_to "Groupchats", groupchats_path, class:"nav-link", id:"nav-home-tab", type:"button", role:"tab" %>
          <%= link_to "Private Chatrooms", private_chatrooms_path, class:"nav-link active", id:"nav-home-tab", type:"button", role:"tab" %>
        </div>
      </nav>
      <ul class="list-group my-3">
        <% @private_chatrooms.each do |private_chatroom| %>
          <li class="list-group-item">
            <%= link_to private_chatroom_path(private_chatroom), class: "d-flex align-items-center chatroom-link" do %>
              <div class="chatroom-avatar">
                <% if current_user == private_chatroom.sender %>
                  <% other_user = private_chatroom.receiver %>
                <% else %>
                  <% other_user = private_chatroom.sender %>
                <% end %>
                <% if other_user.photo.attached? %>
                  <%= cl_image_tag other_user.photo.key, class: 'avatar-img' %>
                <% else %>
                  <%= image_tag "avatar_placeholder.png", class: 'avatar-img' %>
                <% end %>
              </div>
              <div class="flex-grow-1 ms-2">
                <strong><%= private_chatroom.name %></strong>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- Active Private Chatroom -->
    <div class="col-8 chatroom height-100">
      <div class="d-flex justify-content-start align-items-center my-3">
        <div class="card chat-header d-flex align-items-center p-2">
          <% if @private_chatroom.sender == current_user %>
            <% other_user = @private_chatroom.receiver %>
          <% else %>
            <% other_user = @private_chatroom.sender %>
          <% end %>

          <div class="d-flex align-items-center">
            <div class="profile-placeholder-container me-2">
              <% if other_user.photo.attached? %>
                <%= link_to cl_image_tag(other_user.photo.key, class: 'profile-placeholder small-placeholder'), user_path(other_user) %>
              <% else %>
                <%= link_to image_tag("avatar_placeholder.png", class: 'profile-placeholder small-placeholder'), user_path(other_user) %>
              <% end %>
            </div>
            <h3 class="ms-2 mb-0">Chat with <%= other_user.username %></h3>
          </div>
        </div>
      </div>
      <div class="messages" data-private-chatroom-subscription-target="messages">
        <% @private_chatroom.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
      <div class="input">
        <%= simple_form_for [@private_chatroom, @message], html: { data: { action: "turbo:submit-end->private-chatroom-subscription#resetForm" }, class: "d-flex"} do |f|%>
          <%= f.input :content, label: false, placeholder: "Message ##{@private_chatroom.name}", wrapper_html: {class: "flex-grow-1"} %>
          <%= f.submit "Send", class: "btn btn-primary mb-3 send-btn flex-grow-0" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
