<div id="message-<%= message.id %>" class="message <%= message.user == current_user ? 'user' : 'other' %>">
  <div class="bubble">
    <small>
      <strong><%= message.user.username %></strong>
      <i><%= message.created_at.in_time_zone.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
    <p><%= message.content %></p>
  </div>
</div>
