<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex justify-content-start align-items-center">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logotype.png" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-grow-1 position-relative">
      <%= image_tag "logo.png", class: "navbar-center-logo position-absolute" %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-end align-items-center navbar-right-content">
      <%= link_to "Find Hobbyists", search_page_path, class: "btn btn-primary me-3" %>
      <% unless current_user.nil?  %>
        <div class="dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag(current_user.photo.key, height: 300, width: 300, crop: :fill, class: 'avatar') %>
            <% else %>
              <div class="avatar">
                pic
              </div>
              <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            <% end %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", profile_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
