<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex justify-content-start align-items-center">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logotype.png" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-grow-1 position-relative">
      <%= image_tag "logo.png", class: "navbar-center-logo position-absolute" %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-end align-items-center navbar-right-content">
      <%= link_to "Find Hobbyists", search_page_path, class: "btn btn-primary me-3" %>
      <div class="dropdown">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
</div>
