<!-- app/views/groupchats/show.html.erb -->
<div class="container-fluid chatroom-container" data-controller="groupchat-subscription" data-groupchat-subscription-groupchat-id-value="<%= @groupchat.id %>">
  <div class="row height-100">
    <!-- Groupchats Index -->
    <div class="col-4 private-chatrooms-index-container">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <%= link_to "Groupchats", groupchats_path, class:"nav-link active", id:"nav-home-tab", type:"button", role:"tab" %>
          <%= link_to "Private Chatrooms", private_chatrooms_path, class:"nav-link", id:"nav-home-tab", type:"button", role:"tab" %>
        </div>
      </nav>
      <ul class="list-group my-3">
        <% @groupchats.each do |groupchat| %>
          <li class="list-group-item">
            <%= link_to groupchat_path(groupchat), class: "d-flex align-items-center chatroom-link" do %>
              <div class="chatroom-avatar">
                <div class="avatar-img"></div>
              </div>
              <div class="flex-grow-1 ms-2">
                <strong><%= groupchat.name %></strong>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- Active Groupchat -->
    <div class="col-8 chatroom height-100">
      <div class="d-flex justify-content-between mb-3">
        <h1 class="btn btn-outline-dark disabled col-4 rounded-4 m-0 fs-3"><strong><%= @groupchat.name %> Groupchat</strong></h1>
        <%= link_to "Add #{@groupchat.name} to your interests", "#", class: "btn btn-outline-primary rounded-4 d-flex align-items-center" %>
      </div>
      <div class="messages" data-groupchat-subscription-target="messages">
        <% @groupchat.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
      <div class="input">
        <%= simple_form_for [@groupchat, @message], html: { data: { action: "turbo:submit-end->groupchat-subscription#resetForm" }, class: "d-flex"} do |f|%>
          <%= f.text_area :content, placeholder: "Message ##{@groupchat.name}", class: "form-control mx-2",  data: { groupchat_subscription_target:"messageInput", action: "keydown->groupchat-subscription#send" }  %>
          <%= f.submit "Send", class: "btn btn-primary mb-3", data: { groupchat_subscription_target:"sendButton" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
