<% chatroom = PrivateChatroom.find_chatroom(
      user_one: user,
      user_two: current_user
    ) %>
<% if chatroom.nil? %>
  <% chat_flag = '' %>
  <% chat_type = 'button' %>
  <% chat_message = "Message" %>
<% elsif chatroom.status == 'pending' && current_user == chatroom.sender %>
  <% chat_flag = 'disabled' %>
  <% chat_type = 'link' %>
  <% chat_message = "Chat request sent" %>
<% elsif chatroom.status == 'pending' && current_user == chatroom.receiver %>
  <% chat_flag = '' %>
  <% chat_type = 'link' %>
  <% chat_message = "Message" %>
<% else %>
  <% chat_flag = '' %>
  <% chat_type = 'link' %>
  <% chat_message = "Message" %>
<% end %>

<% friendship = Friendship.find_friendship(
      user_one: user,
      user_two: current_user
    ) %>
<% if friendship.nil? %>
  <% friend_flag = '' %>
  <% friend_type = 'button' %>
  <% friend_message = "Add as Friend" %>
<% elsif friendship.status == 'pending' && current_user == friendship.asker  %>
  <% friend_flag = 'disabled' %>
  <% friend_type = 'link' %>
  <% friend_message = "Friend request sent" %>
<% elsif friendship.status == 'pending' && current_user == friendship.receiver  %>
  <% friend_flag = '' %>
  <% friend_type = 'button' %>
  <% friend_message = "Accept friend request?" %>
<% else %>
  <% friend_flag = 'disabled' %>
  <% friend_type = 'link' %>
  <% friend_message = "Already friends!" %>
<% end %>




<div class="info-window-card">
  <div class="info-window-body">
    <div class="profile-placeholder d-flex align-items-center justify-content-center mb-3">
      <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, class:"profile-placeholder", alt: "Logo rendered as pin" %>
      <% else %>
        <%= image_tag "avatar_placeholder.png", class:"profile-placeholder", alt: "Logo rendered as pin" %>
      <% end %>
    </div>
    <h5 class="info-window-title"><strong><%= user.username %></strong></h5>
     <%= link_to "Message", private_chatrooms_path(receiver_id: user.id),
          class: "btn btn-primary mt-3 w-100 text-white",
          data: { turbo_method: :post } %>
    <div class="info-window-footer mt-3">
      <div class="d-flex flex-wrap justify-content-center">
        <% user.interests.each do |interest| %>
          <span class="badge rounded-pill bg-success m-1"><%= interest.interestable.name %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
