<% users.each do |user| %>
  <% chatroom = PrivateChatroom.find_chatroom(
        user_one: user,
        user_two: current_user
      ) %>
  <% if chatroom.nil? %>
    <% chat_flag = '' %>
    <% chat_type = 'button' %>
    <% chat_message = "Message" %>
  <% elsif chatroom.status == 'pending' %>
    <% chat_flag = 'disabled' %>
    <% chat_type = 'link' %>
    <% chat_message = "Chat request sent" %>
  <% else %>
    <% chat_flag = '' %>
    <% chat_type = 'link' %>
    <% chat_message = "Message" %>
  <% end %>

  <% friendship = Friendship.find_friendship(
        user_one: user,
        user_two: current_user
      ) %>
  <% if friendship.nil? %>
    <% friend_flag = '' %>
    <% friend_type = 'button' %>
    <% friend_message = "Add as Friend" %>
  <% elsif friendship.status == 'pending' %>
    <% friend_flag = 'disabled' %>
    <% friend_type = 'link' %>
    <% friend_message = "Friend request sent" %>
  <% else %>
    <% friend_flag = 'disabled' %>
    <% friend_type = 'link' %>
    <% friend_message = "Already friends!" %>
  <% end %>

  <div class="user-card mb-3">
    <div class="user-card-body d-flex p-3">
      <!-- Section 1: User Name, Profile Image, Social Icons -->
      <div class="section-1 d-flex flex-column justify-content-between">
        <div class="user-info text-center">
          <h5 class="user-card-title"><strong><%= user.username %></strong></h5>
          <div class="profile-placeholder-container d-flex align-items-center justify-content-center mt-2 mb-2">
            <% if user.photo.attached? %>
              <%= link_to cl_image_tag(user.photo.key, class: 'profile-placeholder'), user_path(user) %>
            <% else %>
              <%= link_to image_tag("avatar_placeholder.png", class: 'profile-placeholder'), user_path(user) %>
            <% end %>
          </div>
          <div class="social-icons mt-2">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
      </div>

      <!-- Section 2: Bio and Actions -->
      <div class="section-2 flex-grow-1 ms-3 d-flex flex-column justify-content-between">
        <div class="bio-placeholder mb-2">
          <p class="user-card-bio fw-bold">"I am using hobbyist to find like-minded people. Let's connect!"</p>
        </div>
        <div class="action-buttons d-flex" data-controller="action-buttons" data-action-buttons-receiver-id-value="<%= user.id %>">

          <%# PrivateChatrooms button %>
          <div class="action-buttons d-flex flex-grow-1" data-action-buttons-target="messageButton">
            <%= render partial: 'message_button',
              locals: {
                user:,
                chat_type:,
                chat_message:,
                chat_flag:
              } %>
            </div>

          <%# Friendship button %>
          <div class="action-buttons d-flex flex-grow-1" data-action-buttons-target="friendshipButton">
            <%= render partial: 'friendship_button',
              locals: {
                user:,
                friend_type:,
                friend_message:,
                friend_flag:
              } %>
          </div>

        </div>
      </div>
    </div>

    <div class="user-card-footer d-flex justify-content-between align-items-center">
      <div class="d-flex flex-wrap w-75">
        <% user.interests.each do |interest| %>
          <span class="badge rounded-pill bg-success m-1"><%= interest.interestable.name %></span>
        <% end %>
      </div>
      <div class="d-flex align-items-end mx-2 flex-nowrap">
        <% distance_between_user = Geocoder::Calculations.distance_between([current_user.latitude, current_user.longitude], [user.latitude, user.longitude]).round(2) %>
        <p class="user-card-distance"><i class="fas fa-map-marker-alt ml-1"></i><strong><%= distance_between_user %> Km</strong></p>
      </div>
    </div>
  </div>
<% end %>
