<% users.each do |user| %>
  <div class="user-card mb-3">
    <div class="user-card-body d-flex p-3">
      <div class="profile-placeholder d-flex align-items-center justify-content-center">
        Placeholder
      </div>
      <div class="flex-grow-1 ms-3">
        <h5 class="user-card-title"><strong><%= user.username %></strong></h5>
        <% distance_between_user = Geocoder::Calculations.distance_between([current_user.latitude, current_user.longitude],
                                                         [user.latitude, user.longitude]).round(2) %>
        <p class="user-card-text">Distance: <%= distance_between_user %>Km</p>
      </div>
      <%# <button class="btn btn-primary ms-auto" >Message</button> %>
      <%= link_to "Message", private_chatrooms_path(receiver_id: user.id), class: 'btn btn-primary m-2 d-flex align-items-center',
          data: { turbo_method: :post } %>
      <%#= link_to "Add friend", friendships_path(receiver_id: user.id), class: "btn btn-primary m-2 d-flex align-items-center" ,
          data: { turbo_method: :post } %>
      <% if @my_friends.include?(user.id) %>
        <% hide_addfriend_button = 'd-none' %>
      <% else %>
        <% hide_addfriend_button = '' %>
      <% end %>
      <a href=<%="/friendships?receiver_id=#{user.id}"%> class="btn btn-primary m-2 d-flex align-items-center <%= hide_addfriend_button %>",
      data-turbo-method="post">Add friend</a>
    </div>
    <div class="user-card-footer">
      <div class="d-flex flex-wrap">
        <% user.interests.each do |interest| %>
          <span class="badge rounded-pill bg-success m-1"><%= interest.interestable.name %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
