<div class="container home-page-container p-3 mb-3 height-100">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center text-md-start">
      <h1 class="display-4">Now all you need is to <span class="text-want">want</span> to pick up a hobby</h1>
      <p class="lead">We've got you covered with the hardest part of having a hobby; finding like-minded people to do it with you.</p>
      <div class="btn-group mt-4">
        <%= link_to 'create your profile', new_user_registration_path, class: 'btn btn-primary btn-lg rounded-pill me-3' %>
        <%= link_to 'search your area', search_page_path, class: 'btn btn-outline-primary btn-lg rounded-pill' %>
      </div>
      <p class="trusted-by mt-4">Trusted by 1,000+ hobbyists</p>
      <div class="avatar-group mt-2">
        <%= image_tag 'avatar1.jpg', class: 'avatar' %>
        <%= image_tag 'avatar2.jpg', class: 'avatar' %>
        <%= image_tag 'avatar3.jpg', class: 'avatar' %>
        <%= image_tag 'avatar4.jpg', class: 'avatar' %>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <%= image_tag 'hobbyists.png', class: 'img-fluid' %>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 text-center">
      <%= image_tag 'partners.png', class: 'img-fluid' %>
    </div>
  </div>
</div>

<!-- Testimonials Section -->
<div class="container-fluid testimonials-section py-5">
  <h2 class="text-center mb-4 text-light">Testimonials</h2>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card mb-4 testimonial-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <%= image_tag 'avatar1.jpg', class: 'avatar me-3' %>
            <h5 class="card-title text-dark">Gabriela Coelho</h5>
          </div>
          <p class="card-text text-secondary">"This app has transformed my hobby experience. I've met so many great people!"</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-4 testimonial-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <%= image_tag 'avatar2.jpg', class: 'avatar me-3' %>
            <h5 class="card-title text-dark">Leo Wagon</h5>
          </div>
          <p class="card-text text-secondary">"A must-have app for anyone looking to take their hobbies to the next level."</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-4 testimonial-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <%= image_tag 'avatar3.jpg', class: 'avatar me-3' %>
            <h5 class="card-title text-dark">Gabriel Muniz</h5>
          </div>
          <p class="card-text text-secondary">"Finding people with the same interests has never been easier. Highly recommended!"</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-4 testimonial-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <%= image_tag 'avatar4.jpg', class: 'avatar me-3' %>
            <h5 class="card-title text-dark">Victoria Abdalla</h5>
          </div>
          <p class="card-text text-secondary">"A fantastic community of hobbyists. The app is user-friendly and effective."</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Features Section -->
<div class="container features-section py-5">
  <h2 class="text-center mb-4">Features</h2>
  <div class="row justify-content-center mb-4">
    <div class="col-md-8 col-lg-6 mb-4">
      <div class="feature-card mx-auto">
        <h4 class="text-center">Connect with Others</h4>
        <p class="text-center">Find and connect with like-minded hobbyists in your area.</p>
        <div class="image-container text-center">
          <%= image_tag 'screenshot1.png', class: 'img-fluid screenshot' %>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-6 mb-4">
      <div class="feature-card mx-auto">
        <h4 class="text-center">Search Easily</h4>
        <p class="text-center">Use our advanced search feature to find hobbies and groups near you.</p>
        <div class="image-container text-center">
          <%= image_tag 'screenshot2.png', class: 'img-fluid screenshot' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 mb-4">
      <div class="feature-card mx-auto">
        <h4 class="text-center">Message Instantly</h4>
        <p class="text-center">Communicate with hobbyists through our instant messaging feature.</p>
        <div class="image-container text-center">
          <%= image_tag 'screenshot3.png', class: 'img-fluid screenshot' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About Us Section -->
<div class="container-fluid about-section py-5 dark-background">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-light">
        <h4>Mission Statement</h4>
        <p>Our mission is to connect hobbyists around the world, fostering a community of shared interests and passions. We believe that hobbies enrich our lives and bring joy, and our goal is to make it easy for people to share these experiences with others.</p>
      </div>
      <div class="col-md-6 text-center">
        <%= image_tag 'missionstatement.png', class: 'img-fluid' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid about-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <%= image_tag 'backstory.png', class: 'img-fluid' %>
      </div>
      <div class="col-md-6">
        <h4>Background Story</h4>
        <p>We realized that finding people to share hobbies with was a challenge for many. Whether you're looking to join a book club, find a running buddy, or connect with fellow gamers, it can be difficult to find like-minded individuals. This inspired us to create an app that bridges that gap, making it easier to find and connect with others who share your interests. Our app not only helps you discover new hobbies but also brings people together, fostering a sense of community and belonging.</p>
      </div>
    </div>
  </div>
</div>
