<div class="container profile-page-container height-100 mb-3">
  <div class="row">
    <div class="col-12 text-center">
      <h1><strong>Welcome, <%= current_user.username %>!</strong></h1>
    </div>
  </div>

  <div>
    <p>Friendships : <%= @friends %></p>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="d-flex align-items-center justify-content-center mx-auto">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, height: 300, width: 300, crop: :fill, class: 'profile-page-photo' %>
        <% else %>
          <div class='profile-page-photo'>
            Profile Photo
          </div>
        <% end %>
      </div>
      <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Update Profile Photo
      </button>
    </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-auto">
      <%= link_to 'Private Messages', private_chatrooms_path, class: 'btn btn-dark rounded-pill' %>
      <%= link_to 'Groupchats', groupchats_path, class: 'btn btn-dark rounded-pill' %>
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-6">
      <div class="profile-page-card card position-relative">
        <div class="card-body">
          <h3>Your Interests</h3>
          <div class="row">
            <div class="col-9">
              <div class="d-flex flex-wrap">
                <% current_user.interests.each do |interest| %>
                  <span class="badge rounded-pill bg-success m-1"><%= interest.interestable.name %></span>
                <% end %>
                <%= link_to '+Interests', new_interest_path, class: 'badge rounded-pill bg-new-interest m-1 border' %>
              </div>
            </div>
            <div class="col-3 d-flex align-items-end justify-content-end">
              <%= link_to 'Find Hobbyists', search_page_path, class: 'btn btn-primary find-hobbyists-btn' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-6">
      <div class="profile-page-card card">
        <div class="card-body">
          <h3>Your Address</h3>
          <p><%= current_user.address %></p>
        </div>
      </div>
    </div>
  </div>
</div>


  <h6 class="m-3"><strong>Active Chats</strong></h6>

  <div class="card mb-3">
    <% active_bookings = current_user.all_private_chats.select { |private_chatrooms| private_chatrooms.status == 'active' } %>
    <% active_bookings.each do |chat| %>
      <div class="card m-3">
        <% if current_user == chat.receiver %>
          <p>Sender: <%= chat.sender.name %></p>
        <% else %>
          <p>Receiver: <%= chat.receiver.name %></p>
        <% end %>
        <div class="d-flex">
          <%= link_to 'Chat', private_chatroom_path(chat), class: 'btn btn-dark rounded-pill' %>
          <%= simple_form_for chat do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'archived'} %>
              <%= f.submit 'Block', class: 'btn btn-light' %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>


  <h6 class="m-3"><strong>Pending Chats</strong></h6>

  <div class="card">
    <% pending_chats = current_user.all_private_chats.select { |private_chatrooms| private_chatrooms.status == 'pending' } %>
    <% pending_chats.each do |chat| %>
      <div class="card m-3">
        <% if policy(chat).update? %>
          <p>Sender: <%= chat.sender.name %></p>
          <div class="d-flex">
            <%= simple_form_for chat do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'active'} %>
              <%= f.submit 'Accept', class: 'btn btn-info' %>
            <% end %>

            <%= simple_form_for chat do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'archived'} %>
              <%= f.submit 'Reject', class: 'btn btn-light' %>
            <% end %>
          </div>
        <% else %>
          <p>Receiver: <%= chat.receiver.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <h6 class="m-3"><strong>Blocked Chats</strong></h6>

  <div class="card mb-3">
    <% blocked_chats = current_user.private_chatrooms_as_receiver.select { |private_chatrooms| private_chatrooms.status == 'archived' } %>
    <% blocked_chats.each do |chat| %>
      <div class="card m-3">
        <p>Sender: <%= chat.sender.name %></p>
        <div class="d-flex">
          <%= simple_form_for chat do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'active'} %>
            <%= f.submit 'Unblock', class: 'btn btn-info' %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>

<!-- Friendship request -->

<h6 class="m-3"><strong>My Friends</strong></h6>

  <div class="card mb-3">
    <% active_friendships = current_user.all_friendships.select { |friendship| friendship.status == 'active' } %>
    <% active_friendships.each do |friend| %>
      <div class="card m-3">
        <p><%= User.find(friend.receiver_id).name %></p>
        <div class="d-flex">
          <%#= link_to 'Chat', private_chatroom_path(chat), class: 'btn btn-dark rounded-pill' %>
          <%= simple_form_for friend do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'archived'} %>
              <%= f.submit 'Block', class: 'btn btn-light' %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>


  <h6 class="m-3"><strong>Pending Friendships Requests</strong></h6>

  <div class="card">
    <% pending_requests = current_user.all_friendships.select { |friendship| friendship.status == 'pending' } %>
    <% pending_requests.each do |request| %>
      <div class="card m-3">
          <p>Sender: <%= request.asker_id %></p>
          <div class="d-flex">
            <%= simple_form_for request do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'active'} %>
              <%= f.submit 'Accept', class: 'btn btn-info' %>
            <% end %>

            <%= simple_form_for request do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'archived'} %>
              <%= f.submit 'Reject', class: 'btn btn-light' %>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update your profile photo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for current_user, html: { multipart: true } do |f| %>
          <%= f.input :photo, as: :file %>
      </div>
      <div class="modal-footer">
            <%= f.button :submit, "Change photo", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
