<div class="container-fluid">
  <div class="header mb-4 interests-form-header">
  <div class="row">
    <div class="col-12">
      <h3 class="text-light mb-3"><strong>Find Hobbyists near you!</strong></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 interests-form-container">
      <%= simple_form_for @blank_interest, html: { class: 'border my-3' } do |f| %>
        <div class="mb-3">
          <h5 class="text-secondary mt-3 ms-3"><strong>Your interests</strong></h5>
          <div class="d-flex flex-wrap p-3">
            <%= f.collection_check_boxes :interestable_id, current_user.subcommunities, :id, :name do |b| %>
              <%= b.check_box(class: 'btn-check', autocomplete: 'off') %>
              <%= b.label(class: 'btn btn-outline-primary m-1 rounded-pill') %>
            <% end %>
          </div>
        </div>

        <div class="accordion mb-3" id="filtersAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
                Filter All Communities
              </button>
            </h2>
            <div id="filtersCollapse" class="accordion-collapse collapse" data-bs-parent="#filtersAccordion">
              <div class="accordion-body">
                <% @communities.each do |community| %>
                  <% accordion_id = "accordion#{community.name}" %>
                  <% collapse_id = "collapse#{community.name}" %>
                  <% subcommunity_arr = Subcommunity.all.where(community: community) %>
                  <% filter_arr = subcommunity_arr.reject { |sub| current_user.subcommunities.include?(sub) } %>
                  <div class="accordion mb-3" id="<%= accordion_id %>">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= collapse_id %>" aria-expanded="false" aria-controls="<%= collapse_id %>">
                          <%= community.name %>
                        </button>
                      </h2>
                      <div id="<%= collapse_id %>" class="accordion-collapse collapse" data-bs-parent="#<%= accordion_id %>">
                        <div class="accordion-body">
                          <div class="d-flex flex-wrap p-3">
                            <%= f.collection_check_boxes :interestable_id, filter_arr, :id, :name do |b| %>
                              <%= b.check_box(class: 'btn-check', autocomplete: 'off') %>
                              <%= b.label(class: 'btn btn-outline-secondary m-1 rounded-pill') %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end p-3">
          <%= f.button :submit, class: 'btn btn-primary m-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-5">
      <% @users.each do |user| %>
        <div class="user-card mb-3">
          <div class="user-card-body d-flex p-3">
            <div class="profile-placeholder d-flex align-items-center justify-content-center">
              Placeholder
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="user-card-title"><strong><%= user.username %></strong></h5>
              <p class="user-card-text">Distance: 1km</p>
            </div>
            <button class="btn btn-primary ms-auto" >Message</button>
          </div>
          <div class="user-card-footer">
            <div class="d-flex flex-wrap">
              <% user.interests.each do |interest| %>
                <span class="badge rounded-pill bg-success m-1"><%= interest.interestable.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-7">
      <div class="sticky-container"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <div class="row mb-4">
          <div class="col-12 search-bar-container">
            <%# Existing working search bar %>
            <div class="main-search-bar" data-map-target="mainSearch"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="map-container" data-map-target="mapContainer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
