<div class="container-fluid">
  <div class="header mb-4">
    <div class="row">
      <div class="col-12">
        <h3 class="text-primary">Find Hobbyists near you</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled d-flex flex-wrap">
          <li class="m-2"> <%= link_to "Sports", search_page_path(query: "Sports"), class: "btn btn-dark" %> </li>
          <li class="m-2"> <%= link_to "Arts", search_page_path(query: "Arts"), class: "btn btn-dark" %> </li>
          <li class="m-2"> <%= link_to "Games", search_page_path(query: "Games"), class: "btn btn-dark" %> </li>
          <li class="m-2"> <%= link_to "Music", search_page_path(query: "Music"), class: "btn btn-dark" %> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <% @users.each do |user| %>
        <div class="card mb-3">
          <div class="card-body d-flex">
            <div class="profile-placeholder d-flex align-items-center justify-content-center">
              Placeholder
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="card-title"><%= user.username %></h5>
              <p class="card-text">Distance: 1km</p>
              <div class="d-flex flex-wrap">
                <% user.interests.each do |interest| %>
                  <span class="badge rounded-pill bg-success m-1"><%= interest.interestable.name %></span>
                <% end %>
              </div>
            </div>
            <button class="btn btn-primary ms-auto" >Message</button>
          </div>
          <div class="card-footer">
            <div class="d-flex flex-wrap">
              <% user.interests.each do |interest| %>
                <span class="badge rounded-pill bg-success m-1"><%= interest.interestable.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-7">
      <div class="sticky-container"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <div class="row mb-4">
          <div class="col-12">
            <%# Existing working search bar %>
            <div class="main-search-bar" data-map-target="mainSearch"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="map-container" style="width: 100%; height: 600px;" data-map-target="mapContainer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
